*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes orbit {
    0%   { transform: rotate(0deg) ; left:0px; top:0px;}
    25%  { transform: rotate(90deg) ; left:0; top:0px;}
    50%  { transform: rotate(180deg) ; left:0; top:0px;}
    75%  { transform: rotate(270deg) ; left:0px; top:0px;}
    100% { transform: rotate(360deg) ; left:0px; top:0px;}
  }
@keyframes rotate {
    0% {
        transform:  rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.bg-img {
    position: relative;
   
    img{  
        width: 100vw;
        height: 100vh;
       }
       .container{
       
        .sun{
            position: absolute;
            top: 45%;
            left: 45%;
            img{
                width: 100px;
                height: 100px;
            }
        }
        .first-planet{
            position: absolute;
            top: 43%;
            left: 43.7%;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 3s infinite linear;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                }
            }
        }
        .second-planet{
            position: absolute;
            top: 40.55%;
            left: 42.4%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 5s infinite linear ;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                   
                }
            }
        }
        .thirth-planet{
            position: absolute;
            top: 35.75%;
            left: 39.8%;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 7s infinite linear;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                    animation: orbit 1s infinite linear;  
                }
            }
        }
        .fourth-planet{
            position: absolute;
            top: 31.25%;
            left: 37.2%;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 9s infinite linear ;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                    animation: orbit 1s infinite linear;  
                }
            }
        }
        .fifth-planet{
            position: absolute;
            top: 24.55%;
            left: 33.4%;
            width: 550px;
            height: 550px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 11s infinite linear ;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                    animation: orbit 1s infinite linear;  
                }
            }
        }
        .sixth-planet{
            position: absolute;
            top: 20.25%;
            left: 30.75%;
            width: 650px;
            height: 650px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 10s infinite linear ;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 60px;
                    height: 44px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                    animation: orbit 1s infinite linear;  
                }
            }
        }
        .seventh-planet{
            position: absolute;
            top: 15.55%;
            left: 28.4%;
            width: 750px;
            height: 750px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 15s infinite linear ;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                    animation: orbit 1s infinite linear;  
                }
            }
        }
        .eight-planet{
            position: absolute;
            top: 10.55%;
            left: 25.7%;
            width: 850px;
            height: 850px;
            border-radius: 50%;
            border: 1px dashed white;
            animation: rotate 17s infinite linear;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            .img-container{
                position: absolute;
                top: 0;
                img{
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    margin: auto;
                    animation: orbit 1s infinite linear;  
                }
            }
           
        }
       }
   
}
